<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2021 Zazmic. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_delete_after_done">
        <observer name="mcf_mapping_delete_product" instance="Zazmic\AmazonMCF\Observer\DeleteProductFromMappingTable" />
    </event>
    <event name="catalog_product_save_after">
      <observer name="mcf_map_table_update" instance="Zazmic\AmazonMCF\Observer\Productsaveafter" />
    </event>
</config>
