<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2021 Zazmic. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="amazonmcf" frontName="amazonmcf">
            <module name="Zazmic_AmazonMCF" />
        </route>
    </router>
</config>
